<section class="callout homepage-hero has-bg-img full white">
  <div>
    <div class="hero-callout-wrap" id="video_overlays">
      <div class="hero-callout">
        <p>
          <h1>Welcome to Made In Madras</h1>
                        <span>
                            <span>Big Names,</span>
                            <span>Big Conversations,</span>
                            <span>Big Personality</span>
                        </span>
        </p>
      </div>
    </div>
    <video id="looped-vid" preload="auto" autoplay="" loop="" muted="">
      <source type="video/mp4" src="http://www.ora.tv/v/ora_rerender.mp4">
      <source type="video/ogv" src="http://www.ora.tv/v/ora_rerender.ogv">
      <img src="/i/hp-herovid-poster_img.jpg">
    </video>
  </div>
</section>

<div class="dcontainer" ng-controller="ShowCaseController">
  <!-- Projects Row -->
  <div class="row">
    <div class="col-md-4">
      <a href="#" ng-repeat="pic in row1" ng-mouseover="animate[pic.id] = !animate[pic.id]" ng-mouseleave="animate[pic.id] = !animate[pic.id]">
        <div class="modalContainer portfolio-item"
             ng-style="{'background-image': 'url(' + pic.src + ')', 'height': pic.height+'px'}">
          <h1 animate-name="animate[pic.id]">{{pic.name}}</h1>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="#" ng-repeat="pic in row2">
        <div class="modalContainer portfolio-item" ng-mouseover="animate[pic.id] = !animate[pic.id]" ng-mouseleave="animate[pic.id] = !animate[pic.id]"
             ng-style="{'background-image': 'url(' + pic.src + ')', 'height': pic.height+'px'}">
          <h1 animate-name="animate[pic.id]">{{pic.name}}</h1>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="#" ng-repeat="pic in row3">
        <div class="modalContainer portfolio-item" ng-mouseover="animate[pic.id] = !animate[pic.id]" ng-mouseleave="animate[pic.id] = !animate[pic.id]"
             ng-style="{'background-image': 'url(' + pic.src + ')', 'height': pic.height+'px'}">
          <h1 animate-name="animate[pic.id]">{{pic.name}}</h1>
        </div>
      </a>
    </div>
  </div>
  <!-- /.row -->
</div>
